body {
  font-family: "Press Start 2P", system-ui;
  height: 100dvh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111;
  color: rgba (255, 255, 255, 0.9);
  overflow: hidden;
}

.gameArea {
  position: absolute;
  width: 600px;
  height: 400px;
  background-color: rgba(7, 26, 49, 0.6);
}
